{% extends 'base.html' %}

{% block title %}Home Page{% endblock title %}

{% block content %} 
<div class="container">
	<div class="row">
		<div class="col-lg-3">
			<ul class="list-group">
				<p><b>CATEGORIES</b></p>
				{% for category in categories %}
				<li class="list-group-item"><b>{{ category }}</b></li>
				{% endfor %}
			</ul>
		</div>

			<div class="col-lg-11">

			{% for prod in products %}
			<div class="card h-10">
				<img src="{{ prod.image.url }}" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">{{prod.title}}</h5>
					<p class="card-text">{{prod.category}}</p>
					<span>{{prod.price}}$</span>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>

</div>

	<style type="text/css">
		.card {
			width: 18rem; 
			margin-left: 2em; 
			margin-top: 2em; 
			border-color: purple; 
			float:left;
		}
		.list-group {
			margin-top: 1em;
		}
		.list-group li{
			color: #66ccff;
			border-color: blue;
		}

	</style>


{% endblock content %}